<form [formGroup]="loginForm" novalidate (submit)="onSubmitLogin(loginForm)">

    <label>Username:
      <input formControlName="username">
    </label>
    <div *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
      <p>Please fill out username</p>
    </div>
    <label>Password:
        <input formControlName="password">
    </label>
    <div *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
        <p>Please fill out password</p>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login!</button>

    <p>Form value: {{ loginForm.value | json }}</p>
    <p>Form status: {{ loginForm.status | json }}</p>

</form>
